.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal .slides {
    text-align: left;
    margin-left: 10;
    margin-right: 10;
}

.reveal .slides section>* {
    margin-left: 10;
    margin-right: 10;
}
